<!--a href="https://api.whatsapp.com/send?text={{ product.name }} {{ url }}"></a>
<a href="https://www.facebook.com/sharer.php?u={{ url }}"></a>
<a href="https://twitter.com/share?url={{ url }}&text={{ product.name }}&hashtags={{ category }}"></a>
<a href="https://plus.google.com/share?url={{ url }}"></a>
<a href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.image }}&url={{ url }}&is_video=false&description={{ product.name }}"></a>
<a href="https://www.linkedin.com/shareArticle?url={{ url }}&title={{ product.name }}"></a>
<a href="https://bufferapp.com/add?text={{ product.name }}&url={{ url }}"></a>
<a href="https://www.tumblr.com/share/link?url={{ url }}&name={{ product.name }}&description={{ product.description }}"></a>
<a href="https://reddit.com/submit?url={{ url }}&title={{ product.name }}"></a>
<a href="https://www.stumbleupon.com/submit?url={{ url }}&title={{ product.name }}"></a>
<a href="https://delicious.com/save?v=5&provider=shop&noui&jump=close&url={{ url }}&title={{ product.name }}"></a>
<a href="https://www.evernote.com/clip.action?url={{ url }}&title={{ product.name }}"></a>
<a href="https://wordpress.com/press-this.php?u={{ url }}&t={{ product.name }}&s={{ product.description }}&i={{ product.image }}"></a>
<a href="https://getpocket.com/save?url={{ url }}&title={{ product.name }}"></a-->
