.container {
  float: right;

  select, .line-info, .page-info {
    margin-right: 15px;
  }

  .page-info::after {
    content: "";
    margin-right: 10px;
    display: inline;
  }

  .pagination {
    overflow: auto;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    margin: .5rem 0 .5rem 0;
    position: relative;
    right: 10px;

    .page-item {
      .inactive {
        color: #0d6efd;
        background-color: #fff;
        transition: color .15s,background-color .15s;
      }

      .active {
        color: #d8d6da;
        background-color: rgb(91, 94, 133);
        transition: color .15s,background-color .15s;
      }

      .page-link {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        padding: .375rem .75rem;
        position: relative;
        display: block;
        text-decoration: none;
        border: 1px solid #dee2e6;

        &:hover {
          color: #d8d6da;
          background-color: rgb(91, 94, 133);
          transition: color .15s,background-color .15s;
        }
      }
    }
  }
}
